* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.logincontainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 900px;

  overflow: hidden;
}


.formscontainer {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}



input{
  width: 100%;
}

button {
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #242424;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
 /* .inputT,button{
  border: 1px solid #000000;
  padding: 10px;
  width: 60vw;
  margin-bottom: 15px;
  border-radius: 5px;
} */
  .imgi {
    display: none;
  }

  /* .formscontainer {
    padding: 50px;
  } */
}
